html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.pricing 
{
border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.pricing  td, th
{
padding: 5px;
	color: #333;
}
.odd td{background-color:#E0FFFF}
.even td{background-color:#BFEFFF}
.pricing thead {
	font:normal 13px "Trebuchet MS";
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #000000;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B0E2FF), to(#B0E2FF), color-stop(.6,#60AFFE));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border: solid 1px #999;
}
.pricing th {
	font:normal 15px "Trebuchet MS";
	border: 1px solid #000;
	line-height: 20px;
	font-style: normal;
	font-weight:bold;
	text-align: left;
	
}
.pricing td {
	line-height: 20px;
	font:normal 14px "Trebuchet MS";
	border: 1px solid #000;
	
}
.pricing td:hover {
	background-color: #fff;
}
.paymentdetils{font: normal 12px/20px Arial, Helvetica, sans-serif;
color: #666363;
margin: 10px 0px 10px 0px;}
#main-cnts-listing-bg p a{text-decoration: none;
color: black;}