<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!--*******************************************************************************-->
    <!--                            APPENDER DEFINITION                                -->
    <!--*******************************************************************************-->

    <!-- ========================================= -->
    <!-- catch all logger                          -->
    <!-- ========================================= -->
    
    <appender name="RootAppender" class="org.apache.log4j.RollingFileAppender">
<!--      <param name="File" value="/NvLogs/youNeverWait/youNeverWait-root.log"/> -->
        <param name="File" value="/opt/youNeverWait/NVLogs/youNeverWait-root.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>
    
 	<!-- ========================================= -->
    <!-- file-based logger                         -->
    <!-- ========================================= -->
    <!-- log messages to file, roll per day         -->
    
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
<!--         <param name="File" value="/NvLogs/youNeverWait/youNeverWait.log"/> -->
          <param name="File" value="/opt/youNeverWait/NVLogs/youNeverWait.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'MM-dd-yyyy"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
     </appender>
     
    <!-- log all server up and down messages to file   -->
    
    <appender name="SERVERFILE" class="org.apache.log4j.RollingFileAppender">
<!--         <param name="File" value="/NvLogs/youNeverWait/youNeverWait-server.log"/> -->
       <param name="File" value="/opt/youNeverWait/NVLogs/youNeverWait-server.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
        </layout>
    </appender>
    
    <appender name="LOGINFILE" class="org.apache.log4j.DailyRollingFileAppender">
<!--         <param name="File" value="/NvLogs/youNeverWait/youNeverWait-login.log"/> -->
         <param name="File" value="/opt/youNeverWait/NVLogs/youNeverWait-login.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'MM-dd-yyyy"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
        </layout>
     </appender>
     
    <!-- ========================================= -->
    <!-- console-based logger                      -->
    <!-- ========================================= -->
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} - %20.20c - %m%n"/>
        </layout>
    </appender>
      
   
    
    
    <!--*******************************************************************************-->
    <!--                            CATEGORY DEFINITION                                -->
    <!--*******************************************************************************-->

    <!-- ============================ -->
    <!-- Application-specific logging -->
    <!-- ============================ -->
    
    <category name="org.springframework.*" additivity="false">
        <priority value="WARN"/>
        <appender-ref ref="FILE"/>
    </category>

    <category name="org.springframework.jdbc.datasource.*" additivity="false">
        <priority value="WARN"/>
        <appender-ref ref="FILE"/>
    </category>

    
    
   	<category name="org.hibernate"> 
		<priority value="WARN"/>
		<appender-ref ref="FILE"/> 
	</category>
	

    <category name="com.nv.framework" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="FILE"/>
    </category>
    
    <category name="com.nv.youNeverWait" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="FILE"/>
         <appender-ref ref="CONSOLE"/>
    </category>
    
        
    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->
    
    <root>
        <priority value="INFO"/>
        <appender-ref ref="RootAppender"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
