/***** BUTTONS & ICONS *****/
.buttonlist { list-style: none; }
.buttonlist li { display: inline-block; margin-bottom: 0px; margin-right: 10px; }


a.btn { 
	display: inline-block; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-weight: bold;
	background-color: #f7f7f7;
	-moz-box-shadow: 1px 1px 2px #eee; -webkit-box-shadow: 1px 1px 2px #eee; box-shadow: 1px 1px 2px #eee; color: #666;
}
a.btn:hover { 
	text-decoration: none; color: #333; -moz-box-shadow: 1px 1px 5px #ddd; -webkit-box-shadow: 1px 1px 5px #ddd; box-shadow: 1px 1px 5px #ddd; 
}
a.btn span { 
	padding: 5px 10px; margin-left: 35px; display: block; background: #fff url(images/buttonbg.png) repeat-x 0 -31px; border-left: 1px solid #ccc; 
	text-shadow: 1px 1px #fff;
}
a.btn2 { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
a.btn2 span { -moz-border-radius: 0 50px 50px 0; -webkit-border-radius: 0 50px 50px 0; border-radius: 0 50px 50px 0; padding-right: 15px; }
a.btn3 { width: 32px; height: 30px; }
a.btn4 { width: 34px; height: 32px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
a.btn_new {background:url(../images/icon/ptb/plus.png) no-repeat;}
a.btn_specimen {background:url(../images/icon/ptb/specimen.png) no-repeat;}
a.btn_progress {	background:url(../images/icon/ptb/progress.png) no-repeat;}
a.btn_change {background:url(../images/icon/ptb/change.png) no-repeat;}
a.btn_deliver {background:url(../images/icon/ptb/deliver.png) no-repeat;}
a.btn_print {background:url(../images/icon/ptb/print.png) no-repeat;}
a.btn_history {background:url(../images/icon/ptb/history.png) no-repeat;}
a.btn_transfer {	background:url(../images/icon/ptb/transfer.png) no-repeat;}
a.btn_clone {background:url(../images/icon/ptb/clone.png) no-repeat;}
a.btn_clone_p { background:url(../images/icon/ptb/clone-p.png) no-repeat;}
a.btn_contract {	background:url(../images/icon/ptb/contarct.png) no-repeat;}
a.btn_edit {	background:url(../images/icon/ptb/edit.png) no-repeat;}
a.btn_delete {background:url(../images/icon/ptb/delete.png) no-repeat;}
a.btn_testRate {	background:url(../images/icon/ptb/pricing.png) no-repeat;}
a.btn_back {	background:url(../images/icon/ptb/back.png) no-repeat;}
a.btn_up {background:url(../images/icon/ptb/up.png) no-repeat;}
a.btn_down{	background:url(../images/icon/ptb/down.png) no-repeat;}
a.btn_view {background:url(../images/icon/ptb/view.png) no-repeat;}
a.btn_health {background:url(../images/icon/ptb/health.png) no-repeat;}
a.btn_newbranch {background:url(../images/icon/ptb/branch.png) no-repeat;}
a.btn_userlogcontrol{background:url(../images/icon/ptb/userlog.png) no-repeat;}
a.btn_brannchlist {background:url(../images/icon/ptb/list.png) no-repeat;}
a.btn_home{background:url(../images/icon/ptb/home.png) no-repeat;}

.stdbtn { 
	font-weight: bold; padding: 7px 10px; border: 1px solid #ccc; background: #eee url(../images/buttons.png) repeat-x top left; color: #333; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; cursor: pointer; margin:4px 0 0 5px;
}
.stdbtn:hover { text-decoration: none; }
/* ===== Control buttons ===== */
.controlB { padding: 0px 0 15px 0; }
.controlB ul li {
display: inline-block;
margin: 0px 0px 0 0px;
background: url(../images/controlB.png) repeat-x;
border: 1px solid #ccc;
text-align: center;
box-shadow: inset 0 0 0 1px #fff;
-webkit-box-shadow: inset 0 0 0 1px #fff;
-moz-box-shadow: inset 0 0 0 1px #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
width:100px;
}


.controlB ul li:hover { background-position: 0 -72px;}
.controlB ul li:active { background-position: 0 -144px; }
.controlB ul li a { padding: 10px 8px 7px 8px; display: block; font-size:12px; font-weight:bold; white-space: nowrap; color: #333; text-decoration:none; }
.controlB ul li a span { display: block; margin-top: 5px; }


.btn_yellow { background-position: 0 -38px; border-color: #ebb205; color: #ae510d; }
.btn_blue { background-position: 0 -76px; border-color: #0282ce; color: #fff; }
.btn_black { background-position: 0 -114px; border-color: #222; color: #fff; }
.btn_lime { background-position: 0 -152px; border-color: #59bf04; color: #367501; }
.btn_orange { background-position: 0 -190px; border-color: #cd7a03; color: #6e3c17; }
.btn_red { background-position: 0 -228px; border-color: #a31314; color: #fff; }
.stdbtn:active { background: #eee; }
.btn_yellow:active { background: #ffde06; }
.btn_blue:active { background: #0591e5; }
.btn_black:active { background: #333333; }
.btn_lime:active { background: #6adc0b; }
.btn_orange:active { background: #ff9702; }
.btn_red:active { background: #eb2f30; }
.stdbtn-add { 
	font-weight: bold; font-size:14px; padding: 4px 8px; border: 1px solid #ccc; background: #eee url(../images/buttons.png) 0 -76px  repeat-x; color: #000; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; cursor: pointer;
}
.stdbtn-add:hover { text-decoration: none; background: #eee url(../images/buttons.png) 0 -114px repeat-x; color: #fff; }
.anchorbutton { 
	display: inline-block; 
	border: 1px solid #ccc; 
	color: #333; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	background-position: 7px; 
	background-repeat: no-repeat; 
	background-color: #f7f7f7; 
	-moz-box-shadow: 1px 1px 2px #e7e7e7; 
	-webkit-box-shadow: 1px 1px 2px #e7e7e7; 
	box-shadow: 1px 1px 2px #e7e7e7;
	margin:0 10px 10px 0;
}
.anchorbutton:hover { text-decoration: none; }
.anchorbutton span { background-color: #fff; display: block; margin-left: 30px; border-left: 1px solid #ddd; padding: 5px 10px; }
.button_filter { background-image: url(../images/icon/filter.png); }