
/************GENERAL STYLES****************/
body { background: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; }

a { text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input,select,textarea { font-size: 12px; font-family: Arial, Helvetica, sans-serif; outline: none; }
small, .small { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h1,h2,h3 { font-family:'Conv_MyriadPro-Regular',Sans-Serif; letter-spacing: 0.5px; font-weight: normal; color: #000; }

.radius2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.radius3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.radius25 { -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; }
.radius50 { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.bebas { font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; }
.width1 { width: 1px; }

button,input,select,textarea { font-size: 10pt; font-family: Arial, Helvetica, sans-serif; margin: 0; }

/**********HEADER STYLES**************/

.header {
	width:100%;
	height:52px;
	position:relative;
	background:#097fd4 url(../images/header-bg.jpg) repeat-x;
}

.headright { 
	position: absolute; 
	top: 10px; 
	right: 0px;
	}
.headright ul {
	float:right;
}

.headright li {
	float:left;
	list-style:none;
	margin:0 0 0 10px;
}
.headright li.header-text {
	color:#fff;
	margin:8px 0 0 0;
}

.search {
		position:relative;
		margin:0 10px 10px 0;
		text-align:right;
	}
.search input{
		background-image:url(../images/search.png);
		width:222px;
		height:30px;
		color:#3f3f3f;
		padding-left:40px;
		border:0;
	}
	
.button-profile-2 {float:right;margin:0 10px 0 0;}
.button-profile-2 a {
		border:1px solid #0065ab;
		background: #7ccfff; /* Old browsers */
		background: -moz-linear-gradient(top, #dbdada 0%, #cccccc 8%, #838383 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(8%,#cccccc), color-stop(100%,#838383)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* IE10+ */
		background: linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ccfff', endColorstr='#117dcf',GradientType=0 ); /* IE6-9 */
		display:block;
		height:28px;
		min-width:28px;
		padding-top:1px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	}
.button-profile-2 a:hover{
		text-decoration:none;
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top, #838383 0%, #ddd 8%, #dbdada 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(8%,#ddd), color-stop(100%,#dbdada)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* IE10+ */
		background: linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#dbdada',GradientType=0 ); /* IE6-9 */
	}
		
.button-profile-2 a:active {
		background: #107cce; /* Old browsers */
		background: -moz-linear-gradient(top, #107cce 0%, #4ebcfc 100%, #4fbdfe 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#107cce), color-stop(100%,#4ebcfc), color-stop(100%,#4fbdfe)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* IE10+ */
		background: linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107cce', endColorstr='#4fbdfe',GradientType=0 ); /* IE6-9 */
		-moz-box-shadow:    inset 0 0 10px #000000;
	    -webkit-box-shadow: inset 0 0 10px #000000;
	    box-shadow:         inset 0 0 10px #005697;
	    text-decoration:none;
	}
	.button-profile a span {display:block;}
	.descset{
		font-size:14px;
		font-weight: bold;
		padding-top:6px;
		padding-right:7px;
		float:left;
		}
	
	.desc {
		color:#fff;
		padding-left:5px;
		padding-top:6px;
		padding-right:7px;
		float:left;
	}
	
.exit-icon {
		background-image: url(../images/icon-profile.png);
		height:16px;
		width:14px;
	    margin-left:7px;
		margin-top:6px;
		float:left;
		padding:0 0 0 0;
	}
.new-icon {
		background-position:14px 0px;
		background-image: url(../images/icon-profile.png)
		height:16px;
		width:15px;
		margin-left:7px;
		margin-top:6px;
	}
	
/**********MAIN HEADING**************/

.heading-tab {
	width:100%;
	height:42px;
	position:relative;
	background:#097fd4 url(../images/heading-tab-bg.jpg) repeat-x;
	margin:1px 0 0 0;
}

.heading-tab h1 {
	font-family:'Conv_MyriadPro-Regular',Sans-Serif;
	font-size:16px;
	color:#000;
	margin:0px 0 0 260px;
	padding:10px 0 10px 10px;
	border-left:1px solid #eee;
}

/**********GLOBAL BAR**************/

.global-bar-tab {
	width:99%;
	position:relative;
	background:url(../images/globar-bar-bg.png);
	border-bottom:1px solid #ccc;
	padding:15px 0 0 15px;
}

.search-bar {
	width:99%;
	position:relative;
	border-bottom:1px solid #ccc;
	padding:15px 0 0 15px;
	display:none;
}

/**CONTENT**/
.maincontent { margin: 0 0px 0 250px; }
.maincontentdv {  }
.maincontentinner { }

.content { 
	padding:0 0 0 10px;
	margin-top: -1px; 
	position: relative; 
	line-height: 21px; 
	-moz-border-radius: 0 2px 2px 2px; 
	-webkit-border-radius: 0 2px 2px 2px; border-radius: 0 2px 2px 2px;
	}
	
	/*****QUICK FORM (ajax/tabledata.php called from tables.html)*****/
.quickform { margin: 10px; z-index:1001; }
.quickform p { margin: 10px 0; }
.quickform label { display: block; margin-bottom: 5px; color: #333; font-weight: bold; width: 100px; }
.quickform .smallinput { width: 60px; }
.quickform .action { margin-left: 120px; }
a.ilink:visited { COLOR: #000000; TEXT-DECORATION: none; }
a.ilink:link { COLOR: #fff; TEXT-DECORATION: none; background:#000; padding:8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:5px 0 5px 0; }
a.ilink:hover { COLOR: #000; TEXT-DECORATION: none; background:#ddd; }
a.ilink:active { COLOR: #9c9c9c; TEXT-DECORATION: none }

/*css for preloading image*/

.dvLoading
{
	background:transparent url(../images/loading.gif) no-repeat center center;
	height: 100px;
	width: 100px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	}
.errorStyle {color:#ff0000;}
.errorHeaderStyle {color:#ff0000;}
.successHeaderStyle{color:#0AC92B;}
.required {color:#ff0000;}
.req_astrisk {font-size:15px;color:#ff0000;}