
@import url('plugins/jquery.ui.css');
@import url('plugins/jquery.alerts.css');

@import url('plugins/jquery.jgrowl.css');
@import url('plugins/colorbox.css');
@import url('formalize.css');


@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BarcodeFont';
	src: url('../fonts/BarcodeFont.eot');
	src: local('☺'), url('../fonts/BarcodeFont.woff') format('woff'), url('../fonts/BarcodeFont.ttf') format('truetype'), url('../fonts/BarcodeFont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	
}







/************GENERAL STYLES****************/
body { background: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000;}



a { text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
a img { border: 0; }


input,select,textarea { font-size: 12px; font-family: Arial, Helvetica, sans-serif; outline: none; }
small, .small { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h1,h2,h3 {  letter-spacing: 0.5px; font-weight: normal; color: #000; }



.radius2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.radius3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.radius25 { -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; }
.radius50 { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.bebas { font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; }
.width1 { width: 1px; }

button,input,select,textarea { font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0; }






.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* Overlays */
.ui-widget-overlay { background: #aaaaaa; opacity: .30;filter:Alpha(Opacity=30); }


.ui-widget-shadow { margin: -8px -8px 0 0px; padding: 8px; background: #000; opacity: .40;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*





**********HEADER STYLES**************/

.header {
	width:100%;
	height:52px;
	position:relative;
	background:#097fd4 url(../images/header-bg.jpg) repeat-x;
	clear:both;
}


.header {
	min-width:980px;
}

.headright { 
	position: absolute; 
	top: 10px; 
	right: 0px;
	}
.headright ul {
	float:right;
}

.headright li {
	float:left;
	list-style:none;
	margin:0 0 0 10px;
}
.headright li.header-text {
	color:#fff;
	margin:8px 0 0 0;
}



.search {
		position:relative;
		margin:0 10px 10px 0;
		text-align:right;
	}
.search input{
		background-image:url(../images/search.png);
		width:222px;
		height:30px;
		color:#3f3f3f;
		padding-left:40px;
		border:0;
	}
	
	.button-profile-2 {
		float:right;
		margin:0 10px 0 0;
	}
	
.button-profile-2 a {
		border:1px solid #0065ab;
		background: #7ccfff; /* Old browsers */
		background: -moz-linear-gradient(top, #dbdada 0%, #cccccc 8%, #838383 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(8%,#cccccc), color-stop(100%,#838383)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* IE10+ */
		background: linear-gradient(top, #dbdada 0%,#cccccc 8%,#838383 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ccfff', endColorstr='#117dcf',GradientType=0 ); /* IE6-9 */
		display:block;
		height:28px;
		min-width:28px;
		padding-top:1px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	}
.button-profile-2 a:hover{
		text-decoration:none;
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top, #838383 0%, #ddd 8%, #dbdada 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(8%,#ddd), color-stop(100%,#dbdada)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* IE10+ */
		background: linear-gradient(top, #838383 0%,#ddd 8%,#dbdada 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#dbdada',GradientType=0 ); /* IE6-9 */
	}
	
	
.button-profile-2 a:active {
		background: #107cce; /* Old browsers */
		background: -moz-linear-gradient(top, #107cce 0%, #4ebcfc 100%, #4fbdfe 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#107cce), color-stop(100%,#4ebcfc), color-stop(100%,#4fbdfe)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* IE10+ */
		background: linear-gradient(top, #107cce 0%,#4ebcfc 100%,#4fbdfe 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107cce', endColorstr='#4fbdfe',GradientType=0 ); /* IE6-9 */
		-moz-box-shadow:    inset 0 0 10px #000000;
	    -webkit-box-shadow: inset 0 0 10px #000000;
	    box-shadow:         inset 0 0 10px #005697;
	    text-decoration:none;
	}
	.button-profile a span {
		display:block;
	}
	.desc {
		color:#fff;
		padding-left:5px;
		padding-top:6px;
		padding-right:7px;
		float:left;
	}
	
.exit-icon {
		background-image: url(../images/icon-profile.png);
		height:16px;
		width:14px;
	    margin-left:7px;
		margin-top:6px;
		float:left;
		padding:0 0 0 0;
	}
.new-icon {
		background-position:14px 0px;
		background-image: url(../images/icon-profile.png)
		height:16px;
		width:15px;
		margin-left:7px;
		margin-top:6px;
	}
	


/**********MAIN HEADING**************/

.heading-tab {
	width:100%;
	height:42px;
	position:relative;
	background:#097fd4 url(../images/heading-tab-bg.jpg) repeat-x;
	margin:1px 0 0 0;
}

.heading-tab h1 {
	font-family:'Conv_MyriadPro-Regular',Sans-Serif;
	font-size:16px;
	color:#000;
	margin:0px 0 0 260px;
	padding:10px 0 10px 10px;
	border-left:1px solid #eee;
}



/**********GLOBAL BAR**************/

.global-bar-tab {
	width:99%;
	position:relative;
	background:url(../images/globar-bar-bg.png);
	border-bottom:1px solid #ccc;
	padding:15px 0 0 15px;
}


.search-bar {
	width:99%;
	position:relative;
	border-bottom:1px solid #ccc;
	padding:15px 0 0 15px;
	display:none;
}



/**********MAIN CONTENT STYLES*******/
.mainwrapper { 
	margin: 10px; 
	position: relative; 
	}


/**LEFT**/
.mainleft { 
	width: 250px; 
	height:100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	padding-bottom: 20px;
	border-right:1px solid #eee; 

	}

.leftmenu { 
 
	}
	
	
	
.leftmenu ul { 
	list-style: none;
	}
.leftmenu ul li { 
	display: block; 
	position: relative; 
	}
.leftmenu ul li a { 
	border: 1px solid #ddd; border-top: 0; 
	display: block; 

	color: #666; 
	padding-left: 45px;
	font-family:'Conv_MyriadPro-Regular',Sans-Serif;
	font-size:15px;
	text-transform:uppercase; 
	font-style:normal;
	color:#000;
}
.leftmenu ul li a:hover { 
	color: #fff; 
	text-decoration: none; 
	background: #000; 
	}
	
	
.leftmenu ul li:first-child a {
	 border-top: 1px solid #ddd; 
	 
	 }
	 
.leftmenu ul li a span { 
	display: block; 
	padding: 13px 10px; 
	background: #fcfcfc url(../images/li-main-bg.jpg) repeat-x; 
	border-left: 1px solid #eee;
	font-style:normal;
	
}

.leftmenu ul li a:hover span { 
	color:#333;
	background:#f7f7f7; 
	}




.leftmenu ul li.current a { 
	background:url(../images/li-main-bg-hover.jpg) repeat-x; 
	color: #fff; 
	}
.leftmenu ul li.current a span { 
	background: url(../images/li-main-bg-hover.jpg) repeat-x;
	 }


.leftmenu ul li a.menudrop:hover span { 
	background:url(../images/menudroparrow.png) no-repeat right 0;
	 }
.leftmenu ul li.current a.menudrop:hover span {
	 background:url(../images/menudroparrow.png) no-repeat right -46px; 
	 }
	
	
	
.leftmenu ul li a.dashboard {
	background:#f6f4f4 url(../images/leftmenu/logo.png) no-repeat;
}
.leftmenu ul li a.order {
	background:#f6f4f4 url(../images/leftmenu/order-bg.png) no-repeat;
}

.leftmenu ul li a.reports {
	background:#f6f4f4 url(../images/leftmenu/reports-bg.png) no-repeat;
}

.leftmenu ul li a.border {
	background:#f6f4f4 url(../images/leftmenu/border-bg.png) no-repeat;
}

.leftmenu ul li a.doctor {
	background:#f6f4f4 url(../images/leftmenu/doctor-bg.png) no-repeat;
}

.leftmenu ul li a.agents {
	background:#f6f4f4 url(../images/leftmenu/agents-bg.png) no-repeat;
}


.leftmenu ul li a.admin {
	background:#f6f4f4 url(../images/leftmenu/admin.png) no-repeat;
}





.leftmenu ul li .menutip { 
	position: absolute; 
	z-index: 100; 
	left: 48px; 
	top: 0; 
	background: url(../images/blacktrans.png); 
	color: #fff; 
	padding: 15px 10px; 
	display: none;
	-moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; 
}




.leftmenu ul li ul { 
	margin: 0 0 10px 45px; 
	display: none;
	}
	

	
.leftmenu ul li ul li:first-child a { 
	border-top: 0;
	}

.leftmenu ul li ul li a { padding-left: 0; background:none; }


.leftmenu ul li ul li a span { 
	border-left: 0; 
	padding:7px;
	background:url(../images/li-child.jpg) repeat-x;
	font-family:'Conv_MyriadPro-Regular',Sans-Serif;
	font-size:13px;
	text-transform:uppercase; 
	font-style:normal;
	 }


.leftmenu ul li ul li a:hover span { border-left: 0; background: #eee; }


.leftmenu ul li.current ul li a { border-top: 0; border-bottom: 1px solid #272727; }
.leftmenu ul li.current ul li a span { border-left: 0; }
.leftmenu ul li.current ul li a:hover span { background: #2e2e2e; color:#fff; }




/**SHOW ICON ONLY LEFT MENU**/
	
	.lefticon .mainleft { width: 45px; }
.lefticon .leftmenu { overflow: none;}
.lefticon .leftmenu ul li { width: 250px; }
.lefticon .leftmenu ul li a { width: 2px; height: 45px; }
.lefticon .leftmenu ul li a span { display: none; }
.lefticon .maincontent { margin-left: 45px; }

	
	
	
#togglemenuleft { border-top: 1px solid #eee; margin-top: 20px; text-align: center; }
#togglemenuleft a { 
	display: inline-block; position: relative; top: -13px; width: 22px; height: 22px; 
	background: url(../images/toggle.png) no-repeat 0 0; cursor: pointer; 
}
#togglemenuleft a.toggle { background: url(../images/toggle.png) no-repeat 0 -25px; text-align: left; }


/**CONTENT**/
.maincontent { margin: 0 0px 0 250px; }
.maincontentinner { }




.content { 
	padding:0 0 0 10px;
	margin-top: -1px; 
	position: relative; 
	line-height: 21px; 
	-moz-border-radius: 0 2px 2px 2px; 
	-webkit-border-radius: 0 2px 2px 2px; border-radius: 0 2px 2px 2px;
	}
	
	
	
	
	






form > .column-left {
  border-right: 1px solid #e1e1e1;

}

.column-left {
  float: left;
  width: 49%;
}


.column-first {
  float: left;
  width: 38%;
}

.column-second {
  float: left;
  width: 30%;
}

.column-third {
  float:right;
  width: 30%;
}

.column-fourth {
  float:left;
  width: 60%;
}


.column-right {
  float: right;
  width: 49%;
  padding:0 0 0 0px;
}

form .column-left, form .column-right {
  width: 47%;
  padding:0 2% 0 0;
}



/* Forms */





.box-content form p {
  margin-bottom: 11px;
  position: relative;
  width:100%;


}

.box-content form input[type="text"], .box-content form input[type="password"], .box-content form textarea {
  background: url(../images/input_bg.png) repeat-x #fdfdfd;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 1px 0 #fff;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 30px;
  outline: none;
  padding: 6px 10px;
  resize: none;
  width: 79;
  margin:3px 0 0 0;
}

.box-content form input::-webkit-input-placeholder, .box-content form input::-moz-placeholder {
  color: #bbb;
}


.select { 
	border: 1px solid #ccc; padding: 7px 5px; min-width: 79%; background: #fcfcfc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
	height:30px;
	margin:3px 5px 0 0px;
}

.box-content form textarea {
  height: 60px;
  line-height: 20px;
  margin-bottom: 0;
  padding-top: 8px;
}

.box-content form p.combined input {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.box-content form p.combined input:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  margin-right: -3px;
}

.box-content form p.combined input.last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  top: 0;
}

.box-content form input.small { width: 30%;}
.box-content form input.small-2 { width: 70%; float:left; margin:0 0px 0 0; }
.box-content form input.medium { width: 40% }
.box-content form input.large { width: 100% }
.box-content form input.dlarge { width: 54% }
.box-content form input.captchainputbox { width: 62% }

.box-content form p .icon {
  position: absolute;
  right: 8px;
  top: 7px;
}

.box-content form p .icon.valid {
  display: none;
}

.box-content form p input.error, form p textarea.error {
  border: 1px solid #d29797;
  border-top: 1px solid #ae6767;
  color: #ad6262;
}

.box-content form p span{
  	
	margin:0 0 10px	0px;
	font-weight:bold;
}


.box-content form p .tip {
  background: url(../img/tip_bg.png) no-repeat;
  bottom: -6px;
  display: block;
  height: 6px;
  position: absolute;
  right: 34px;
  width: 12px;
  z-index: 9;
}


.box-content form p > label {
  color: #333;
  line-height: 19px;
  text-indent: 4px;
}

.box-content form p {
  clear: both;
  color: #333;
  line-height: 20px;
}

.box-content form p.main {

  font-weight:bold;
}

.box-content form p small {
  font-size: 11px;
  font-style: italic;
  float: right;
  margin-bottom: 14px;
}



form p input.error, form p textarea.error {
  border: 1px solid #d29797;
  border-top: 1px solid #ae6767;
  color: #ad6262;
}

form p span.error {
  background: url(../images/error.png) no-repeat center;
  display: block;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  z-index: 99;
}

form p span.error label {
  background: url(../images/tooltip_bg.png);
  border-radius: 3px;
  bottom: 31px;
  color: #fff;
  display: none !important;
  font-size: 11px;
  line-height: 17px;
  padding: 6px 9px;
  position: absolute;
  right: -25px;
  text-align: left;
  width: 180px;
  z-index: 9;
}




.box {
  background: #fafafa;
  border-bottom:1px solid #ddd;
  float:left;
  width:100%;
  height:75%;
  padding:0 0 10px 0;
}


.box h1 {
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#000;
}

.box-content {
  padding: 14px;
}









/*****STANDARD TABLE *****/
.stdtable { width: 100%; }
.stdtable .con0 { background: #fcfcfc; }
.stdtable .con1 { background: #f9f9f9; }
.stdtable th, .stdtable td { line-height: 16px; vertical-align: middle; }
.stdtable thead th, .stdtable thead td { padding: 5px 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.stdtable tfoot th, .stdtable tfoot td { padding: 5px 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }

.stdtable thead th:first-child, .stdtable tfoot th:first-child,
.stdtable thead td:first-child, .stdtable tfoot td:first-child { border-left: 1px solid #ddd; }
.stdtable thead th.head0, .stdtable tfoot th.head0, .stdtable thead td.head0, .stdtable tfoot td.head0 { background-color: #eee; }
.stdtable thead th.head1, .stdtable tfoot th.head1, .stdtable thead td.head1, .stdtable tfoot td.head1 { background-color: #ddd; }
.stdtable thead th.sorting, .stdtable thead td.sorting { 
	background-image: url(../images/sort_both.png); background-repeat: no-repeat; background-position: right 3px; }
.stdtable thead th.sorting_asc, .stdtable thead td.sorting_asc { 
	background-image: url(../images/sort_asc.png); background-repeat: no-repeat; background-position: right 4px; }
.stdtable thead th.sorting_desc, .stdtable thead td.sorting_desc  { 
	background-image: url(../images/sort_desc.png); background-repeat: no-repeat; background-position: right 4px; }
.stdtable thead td { font-weight: bold; }
.stdtable thead td.center { text-align: center; }

.stdtable tbody tr.high {
	background:#fedede;
}


.stdtable tbody tr td { padding: 8px 10px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; }
.stdtable tbody tr td span.extra-text {border-right: 1px solid #c6c4c4; padding:0 6px 0 0; margin:0 8px 0 0; color:#333; font-weight:bold;}

.stdtable tbody tr:last-child td { border-bottom: 1px solid #ccc; }
.stdtable tbody tr td:first-child { border-left: 1px solid #ddd; }
.stdtable tbody tr td:last-child { border-right: 1px solid #ddd; }
.stdtable tbody tr:hover td, .stdtable tbody tr.selected td { background: #fffccc; color: #333; }



.stdtable tbody tr.togglerow td { background: #fff; }
.stdtable tbody tr.togglerow:hover td { background: #fff; }
.stdtable tbody tr.hiderow { display: none; }

.tableoptions { background: #eee url(../images/titlebg.png) repeat-x top left; border: 1px solid #ccc; border-top: 0; padding: 8px; }
.tableoptions button { 
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left; font-size: 11px; color: #666; padding: 7px 10px; 
	border: 1px solid #bbb; -moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; margin: 0; outline: none;
}
.tableoptions button:hover { background: #eee; cursor: pointer; }
.tableoptions select { 
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left; padding: 6px 5px 7px 5px; border: 1px solid #bbb; margin: 0; outline: none;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; font-size: 11px; color: #666; 
}




/***** DYNAMIC TABLE *****/
/*.dataTables_wrapper { position: relative; background:#06F; }
.dataTables_length, .dataTables_paginate { background: #eee url(../images/titlebg.png) repeat-x top left; border: 1px solid #ccc; border-right: 0; padding: 8px;  }

.dataTables_length {

	float:left;
}
.dataTables_paginate  {
	
	border-right: 1px solid #ccc;
	
}
.dataTables_wrapper select { 
	background: #fcfcfc url(../images/titlebg.png) repeat-x top left; padding: 5px; border: 1px solid #bbb; margin: 0; outline: none;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; font-size: 11px; color: #666; 
}
.dataTables_wrapper input { border: 1px solid #ccc; padding: 6px 5px 7px 5px; width: 200px; }
.dataTables_filter { position: absolute; top: 8px; right: 8px; }
.dataTables_info { position: absolute; bottom: 13px; left: 8px; }
.dataTables_paginate { text-align: right; line-height: 16px;}
.dataTables_paginate span { display: inline-block; }
.dataTables_paginate .paginate_button { 
	border: 1px solid #ccc; padding: 5px 7px; margin-left: 5px; font-weight: bold; background: #fcfcfc; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;  font-size: 11px;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; 
}
.dataTables_paginate .paginate_active { 
	border: 1px solid #222; background: #333;  color: #fff; padding: 5px 7px; margin-left: 5px; font-weight: bold; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-size: 11px;
}
.dataTables_paginate .paginate_button:hover { background: #ddd; border: 1px solid #ccc; cursor: pointer; color: #333; }

*/


/***** BUTTONS & ICONS *****/
.buttonlist { list-style: none; }
.buttonlist li { display: inline-block; margin-bottom: 0px; margin-right: 10px; }


a.btn { 
	display: inline-block; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-weight: bold;
	background-color: #f7f7f7;
	-moz-box-shadow: 1px 1px 2px #eee; -webkit-box-shadow: 1px 1px 2px #eee; box-shadow: 1px 1px 2px #eee; color: #666;
}
a.btn:hover { 
	text-decoration: none; color: #333; -moz-box-shadow: 1px 1px 5px #ddd; -webkit-box-shadow: 1px 1px 5px #ddd; box-shadow: 1px 1px 5px #ddd; 
}
a.btn span { 
	padding: 5px 10px; margin-left: 35px; display: block; background: #fff url(images/buttonbg.png) repeat-x 0 -31px; border-left: 1px solid #ccc; 
	text-shadow: 1px 1px #fff;
}
a.btn2 { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
a.btn2 span { -moz-border-radius: 0 50px 50px 0; -webkit-border-radius: 0 50px 50px 0; border-radius: 0 50px 50px 0; padding-right: 15px; }
a.btn3 { width: 32px; height: 30px; }
a.btn4 { width: 34px; height: 32px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }





a.btn_new {
	background:url(../images/icon/ptb/plus.png) no-repeat;
}

a.btn_specimen {
	background:url(../images/icon/ptb/specimen.png) no-repeat;
}

a.btn_progress {
	background:url(../images/icon/ptb/progress.png) no-repeat;
}


a.btn_change {
	background:url(../images/icon/ptb/change.png) no-repeat;
}

a.btn_deliver {
	background:url(../images/icon/ptb/deliver.png) no-repeat;
}

a.btn_print {
	background:url(../images/icon/ptb/print.png) no-repeat;
}


a.btn_history {
	background:url(../images/icon/ptb/history.png) no-repeat;
}


a.btn_transfer {
	background:url(../images/icon/ptb/transfer.png) no-repeat;
}

a.btn_clone {
	background:url(../images/icon/ptb/clone.png) no-repeat;
}


a.btn_clone_p {
	background:url(../images/icon/ptb/clone-p.png) no-repeat;
}



a.btn_contract {
	background:url(../images/icon/ptb/contarct.png) no-repeat;
}

a.btn_edit {
	background:url(../images/icon/ptb/edit.png) no-repeat;
}
a.btn_delete {
	background:url(../images/icon/ptb/delete.png) no-repeat;
}

a.btn_pricing {
	background:url(../images/icon/ptb/pricing.png) no-repeat;
}

a.btn_view {
	background:url(../images/icon/ptb/view.png) no-repeat;
}



.stdbtn { 
	font-weight: bold; padding: 7px 10px; border: 1px solid #ccc; background: #eee url(../images/buttons.png) repeat-x top left; color: #333; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; cursor: pointer; margin:4px 0 0 5px;
}
.stdbtn:hover { text-decoration: none; }






.btn_yellow { background-position: 0 -38px; border-color: #ebb205; color: #ae510d; }
.btn_blue { background-position: 0 -76px; border-color: #0282ce; color: #fff; }
.btn_black { background-position: 0 -114px; border-color: #222; color: #fff; }
.btn_lime { background-position: 0 -152px; border-color: #59bf04; color: #367501; }
.btn_orange { background-position: 0 -190px; border-color: #cd7a03; color: #6e3c17; }
.btn_red { background-position: 0 -228px; border-color: #a31314; color: #fff; }

.stdbtn:active { background: #eee; }
.btn_yellow:active { background: #ffde06; }
.btn_blue:active { background: #0591e5; }
.btn_black:active { background: #333333; }
.btn_lime:active { background: #6adc0b; }
.btn_orange:active { background: #ff9702; }
.btn_red:active { background: #eb2f30; }





.listthumb { list-style: none; margin: 0; }
.listthumb li { padding: 0 0 0 0; margin: 12px 0; }
.listthumb img { vertical-align: middle; margin:0 5px 0 0; }





/***COLUMNS***/
.one_half{ width:48.5%; }
.one_third{ width:31.16%; }
.two_third{ width:65.83%; }
.one_fourth{ width:22.5%; }
.three_fourth{ width:74.5%; }
.one_fifth{ width:17.3%; }
.two_fifth{ width:38.1%; }
.three_fifth{ width:58.9%; }
.four_fifth{ width:67.7%; }
.one_sixth{ width:13.83%; }
.five_sixth{ width:100%; margin:0px; }

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,
.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:0; float:left; }

.last{ margin-right:0 !important; clear:right; }





.stdbtn-add { 
	font-weight: bold; font-size:14px; padding: 4px 8px; border: 1px solid #ccc; background: #eee url(../images/buttons.png) 0 -76px  repeat-x; color: #000; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; cursor: pointer;
	
}
.stdbtn-add:hover { text-decoration: none; background: #eee url(../images/buttons.png) 0 -114px repeat-x; color: #fff; }














/* +++++++ Global Box ++++++++++ */


.widgetbox  {
	width:100%;

}


.title {
	width:100%;
	height:42px;
	position:relative;
	background:#097fd4 url(../images/heading-tab-bg.jpg) repeat-x;
	margin:1px 0 0 0;
}

.title h1 {
	font-family:'Conv_MyriadPro-Regular',Sans-Serif;
	font-size:16px;
	color:#000;
	padding:10px 0 10px 10px;
	cursor:pointer;
}

.widgetcontent {

	width:100%;
	height:120px;
	margin:0 0 0 0;
	padding:15px 0 0 15px;
	border:1px solid #ccc;


}



/* ===== Control buttons ===== */

.controlB { padding: 0px 0 15px 0; }
.controlB ul li { 
	display: inline-block; 
	margin: 0px 0px 0 0px; 
	background: url(../images/controlB.png) repeat-x; 
	border: 1px solid #ccc; 
	text-align: center; 
	box-shadow: inset 0 0 0 1px #fff; 
	-webkit-box-shadow: inset 0 0 0 1px #fff; 
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	width:100px;
	}
	
	
.controlB ul li:hover { background-position: 0 -72px;}
.controlB ul li:active { background-position: 0 -144px; }
.controlB ul li a { padding: 10px 8px 7px 8px; display: block; font-size:12px;  font-weight:bold; white-space: nowrap; color: #333; text-decoration:none; }
.controlB ul li a span { display: block; margin-top: 5px; }



/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.5);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
.reveal-modal {
		visibility:hidden;
		top:10px;
		width:75%;
		margin:0 10% 0 13%;;
		background: #e7e6e6;
		position: absolute;
		z-index: 101;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);

		}
.reveal-modal-head {
	width:100%;
	height:35px;
	background:url(../images/li-main-bg-hover.jpg) repeat-x;
	
	-moz-border-radius-top: 5px;
		-webkit-border-radius-top: 5px;
		border-radius-top: 5px;
		padding:7px 0 0 0px;
}
.reveal-modal-head h1 {
font:normal 20px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:0 0 0 15px;
}
.reveal-modal-content {
	width:98%;
	padding:1% 0 0 1%;
}



.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top:14px;
		right: 11px;
		color: #000;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 


/* Filter Div */


.filter-main {
	width:100%;
	padding:15px 20px 0 20px;
}


.anchorbutton.active {
	opacity:0.5;
}

.anchorbutton { 
	display: inline-block; 
	border: 1px solid #ccc; 
	color: #333; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	background-position: 7px; 
	background-repeat: no-repeat; 
	background-color: #f7f7f7; 
	-moz-box-shadow: 1px 1px 2px #e7e7e7; 
	-webkit-box-shadow: 1px 1px 2px #e7e7e7; 
	box-shadow: 1px 1px 2px #e7e7e7;
	margin:0 10px 10px 0;
}
.anchorbutton:hover { text-decoration: none; }
.anchorbutton span { background-color: #fff; display: block; margin-left: 30px; border-left: 1px solid #ddd; padding: 5px 10px; }


.button_filter { background-image: url(../images/icon/filter.png); }
.button_filter-true { background-image: url(../images/icon/filter-true.png); }




/* Tooltip */

#tooltip {
	position:absolute;
	z-index:9999;
	color:#fff;
	font:normal 12px Arial, Helvetica, sans-serif;
	left:0;
	top:0;
	
}




#tooltip .tipBody {
	background-color:#000;
	padding:12px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	
}



.teble-text {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#666;
	float:right;
	margin:0px 0px 0 0px;
	text-align:right;
	padding:0;
}

	
.teble-text-n {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#666;
	text-align:left;
	margin:8px 0 0 0;
	padding:0 0px 0 0;
}

.teble-text span {
		font:bold 14px Arial, Helvetica, sans-serif;
	color:#000;
	padding:0 0 0 13px;
}

.teble-text-n span {
		font:bold 14px Arial, Helvetica, sans-serif;
	color:#000;

}

.teble-text span.rupee {
	background:url(../images/rupee-symbel.png) no-repeat;
}


/*****QUICK FORM (ajax/tabledata.php called from tables.html)*****/
.quickform { margin: 10px; z-index:1001; }
.quickform p { margin: 10px 0; }
.quickform label { display: block; margin-bottom: 5px; color: #333; font-weight: bold; width: 100px; }
.quickform .smallinput { width: 60px; }
.quickform .action { margin-left: 120px; }


a.ilink:visited { COLOR: #fff; TEXT-DECORATION: none; }
a.ilink:link { COLOR: #fff; TEXT-DECORATION: none; background:#000; padding:8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:5px 0 5px 0; }
a.ilink:hover { COLOR: #000; TEXT-DECORATION: none; background:#ddd; }
a.ilink:active { COLOR: #fff; TEXT-DECORATION: none }



.shortcuts { list-style: none; padding:0 0 20px 0;}
.shortcuts li { 
	float: left; margin-right: 50px; margin-bottom: 40px; width: 60px; height: 60px; background: #eee; 
	padding: 10px; -moz-border-radius: 2px; -webkit-border-radius: 2px;  border-radius: 2px; position: relative; 
	-moz-box-shadow: inset 1px 1px 2px #ccc; -webkit-box-shadow: inset 1px 1px 2px #ccc; box-shadow: inset 1px 1px 2px #ccc;
}
.shortcuts li a { 
	width: 58px; height: 58px; display: block; background-color: #fff; background-repeat: no-repeat; background-position: center 10px; 
	border: 1px solid #fff; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	text-decoration:none;
}
.shortcuts li a:hover { border-color: #666; }
.shortcuts li a span { 
	text-align: center; display: block; padding-top: 70px; font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif; 
}
.shortcuts li a.d1 { background-image:url(../images/icon/admin/settings.png); }
.shortcuts li a.d2 { background-image:url(../images/icon/admin/users.png); }
.shortcuts li a.d3 { background-image:url(../images/icon/admin/roles.png); }
.shortcuts li a.d4 { background-image:url(../images/icon/admin/test.png); }
.shortcuts li a.d5 { background-image:url(../images/icon/admin/specimen.png); }
.shortcuts li a.d6 { background-image:url(../images/icon/admin/result.png); }
.shortcuts li a.d7 { background-image:url(../images/icon/admin/doctor.png); }
.shortcuts li a.d8 { background-image:url(../images/icon/admin/facilities.png); }
.shortcuts li a.d9 { background-image:url(../images/icon/admin/agents.png); }
.shortcuts li a.d10 { background-image:url(../images/icon/admin/discount.png); }
.shortcuts li a.d11 { background-image:url(../images/icon/admin/backup.png); }
.shortcuts li a.d12 { background-image:url(../images/icon/admin/config.png); }




.sep-div {
	float:left;
	width:100%;
}

.sep-div-view {
	float:left;
	width:100%;
	border:1px solid #ccc;
	padding:0 0 0 0;
	margin:15px 0 0px 0;
}

.sep-div-view:first-child  {
	margin:5px 0 0px 0;
}


.2column {
	float:left;
}

.2clm-mrn {
	margin:2px 0 0 0;
	padding:0;
}




#login {
  text-align: center;
}

#login_container {
  margin: 0 auto;
  position: relative;
  width: 602px;
}

#login_form {
  background: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 1px 2px #333;
  margin: 0 auto;
  padding: 8px;
  position: absolute;
	zoom: 1;
}

#login_form p {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-right: 4px;
  width: 240px;
  zoom: 1;
}


#login_form form input[type="text"], #login_form form input[type="password"], #login_form form textarea {
  background: url(../images/input_bg.png) repeat-x #fdfdfd;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 1px 0 #fff;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 30px;
  outline: none;
  padding: 6px 10px;
  resize: none;
  width: 79;
  margin:3px 0 0 0;
}

#login_form form input.large { width: 100% }





/* ==========  Login page  ========== */



.loginWrapper { margin: -119px 0 0 -170px; position: absolute; top: 40%; left: 50%; }
.loginWrapper .widget1 { width: 340px; background: #f9f9f9; border: 1px solid #cdcdcd; display: block; height: 360px; }
.loginLogo { position: absolute; width: 253px; height: 78px; display: block; top: -80px; left: 58%; margin-left: -118px; } 
.loginLogonetlims{ position: absolute; width: 253px; height: 78px; display: block; top: -78px; left: 46%; margin-left: -118px; } 
.loginLogonetmd{ position: absolute; width: 253px; height: 78px; display: block; top: -65px; left: 58%; margin-left: -118px; } 



.widget1 { background: #f9f9f9; border: 1px solid #cdcdcd; margin-top: 32px; clear: both; }
.widget1 .title1 { height: 2px; background: #efefef url(../images/titleBg.png) repeat-x; border-bottom: 1px solid #cdcdcd; }

.widget1 .title1 .titleIcon { float: left; padding: 11px 11px; border-right: 1px solid #D5D5D5; margin:0 8px 0 0; }


.widget1 .content1 {
	height:360px;

}


/* ==========  Login page(NetLims)  ========== */
.loginWrapper .widget2 { width: 340px; background: #f9f9f9; border: 1px solid #cdcdcd; display: block; height: 200px; }
.widget2 { background: #f9f9f9; border: 1px solid #cdcdcd; margin-top: 32px; clear: both; }
.widget2 .title1 { height: 2px; background: #efefef url(../images/titleBg.png) repeat-x; border-bottom: 1px solid #cdcdcd; }

.widget2 .title1 .titleIcon { float: left; padding: 11px 11px; border-right: 1px solid #D5D5D5; margin:0 8px 0 0; }


.widget2 .content2{
	height:200px;

}


.loginWrapper h6 {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#333;
	padding:10px 0 0 8px;
}

.login-text {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#333;
	margin:0px 0px 0 0px;
	padding:0;
}







/* Save and Print */

#save-print {
	width:600px;
	display:block;
}


#b-main {
	width:100%;
	float:left;
}

#b-header {
		width:100%;
		float:left;
}

#b-header h1 {
	font:normal 35px "Times New Roman", Times, serif;
	color:#000;
	text-align:center;
}

#b-header h2 {
	font:normal 18px "Times New Roman", Times, serif;
	color:#000;
	text-align:center;
}

#b-pdetails {
	width:100%;
	float:left;
	margin:10px 0 0 0;
}


.b-table th {
	font:bold 15px "Times New Roman", Times, serif;
	color:#000;
	text-align:left;
}


.b-table td {
	padding:5px;
	font:normal 15px "Times New Roman", Times, serif;
	color:#000;
}

/* End Save and Print Here */




.barcode {
	font-family:'Conv_BarcodeFont',Sans-Serif;
	font-size:33px;

}








.control{
color:#666;
width:150px;
font:bold 75% arial,sans-serif;
text-decoration:none;
padding:10px 10px 10px 10px;
display:inline-block;
text-align:center;
/*Background*/
background:#f3f3f3;
background:-webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(from(#F5F5F5)),to(to(#F1F1F1)));
/*@@prefixmycss->No equivalent*/
background:-webkit-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
background:   -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
background:     -o-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
background:        linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
border:solid 1px #dcdcdc;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
margin:25px auto;
}
.control:hover{
color:#333;
border-color:#999;
/*box-shadow*/
-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.2) -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
   -moz-box-shadow:   0 2px 0 rgba(0,0,0,0.2) -moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);
        box-shadow:        0 2px 0 rgba(0,0,0,0.2) box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.UIBeeper{
min-width:300px;
left:43%;
top:8px;
position:fixed;
z-index:99;
display:none;
}
.UIBeeper .UIBeeper_Full{
background-color:#ecd063;
border:1px solid #ecd063;
/*border-radius*/
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
margin:0;
padding:3px;
}
.UIBeeper .UIBeeper_Full:hover{
/* change background color on mouseover */
background-color:#f6de80;
}
.UIBeeper .UIBeep_Bottom{
border-bottom:none;
}
.UIBeeper .UIBeep_Selected{
background:#fae9a7;
}
.UIBeeper .UIBeep_Top{
padding-top:0;
}
.UIBeeper .UIBeep_Bottom{
padding-bottom:0;
}
.UIBeep{
background:#E1E6EE;
border-bottom:1px solid #BFCADE;
overflow:hidden;
padding:3px 0;
clear:right;
}
a, a:hover{
cursor:pointer;
color:#3B5998;
text-decoration:none;
}
.UIBeep .UIBeep_NonIntentional .UIBeep_Icon{
float:left;
width:20px;
height:20px;
text-align:center;
margin:5px 5px;
}
.UIBeep_Selected .UIBeep_Icon{
margin-right:2px;
}
.image2{
/* icon within the beeper */
background-image:url(images/like.png);
background-repeat:no-repeat;
display:inline-block;
height:16px;
width:16px;
}
.UIBeeper .UIBeep .UIBeep_NonIntentional .beeper_x{
/* close button */
float:right;
height:16px;
width:16px;
margin-top:6px;
background:url(../images/close.gif) no-repeat;
visibility:hidden;
}
.UIBeep .beeper_x:hover{
/* close button on mouseover */
background:url(../images/closehover.gif) no-repeat !important;
}
.UIBeep_Selected .beeper_x{
display:block !important;
visibility:visible !important;
margin-left:4px;
}
.UIBeep .UIBeep_NonIntentional .UIBeep_Title{
margin:0 20px 0 30px;
}
.UIBeep .UIBeep_Title{
padding:5px 0;
}